.footer {
  position: relative;
  padding: 60px 0;
  background-color: var(--color-bacground);
}

.contackt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__web {
  color: var(--color-button-link);
}

.logo__white {
  color: var(--color-hover-footer-link);
}

.adress {
  font-style: normal;
}

.adress__item {
  margin-bottom: 9px;
}

.adress__list:last-child {
  margin-bottom: 0px;
}

.adress__link--ferst {
  color: var(--color-hover-footer-link);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer-link);
  text-decoration: none;
}

.adress__link:hover {
  color: var(--color-hover-footer-link);
}

.adress__link:focus {
  color: var(--color-hover-footer-link);
}

.adress__link:active {
  color: var(--color-hover-footer-link);
}

.connect {
  margin-left: 70px;
}

.navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.connect__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.connect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress__list:last-child {
  margin-right: 0;
}

.connect__item {
  margin-right: 10px;
}

.connect__link {
  fill: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color, border-radius;
  transition-property: background-color, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.connect__link:focus {
  background-color: #2196f3;
}

.form__title {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.labal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.labal__input {
  position: relative;
  width: 358px;
  height: 50px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-bacground);
}

.send {
  margin-left: 93px;
}

.labal__buttonn {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding-left: 29px;
  padding-right: 29px;
  border: transparent;
}

.labal__icon {
  margin-left: 10px;
}
/*# sourceMappingURL=footer.css.map */