.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__dark {
  color: var(--primary-color-text);
}

.logo__web {
  color: var(--color-button-link);
}

.logo {
  display: inline-block;
  padding: 24px 0;
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sait-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sait-nav__item {
  margin-right: 50px;
}

.sait-nav:last-child {
  margin-right: 0;
}

.sait-nav__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color-text);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sait-nav__link:hover {
  color: var(--color-button-link);
}

.sait-nav__link:active {
  color: var(--color-button-link);
}

.sait-nav__link:focus {
  color: var(--color-button-link);
}

.sait-nav__link .sait-nav__link--curent {
  color: #2196f3;
}

.sait-nav__link .sait-nav__link--curent::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.sait-nav__link:focus::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.contakts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contakts:nth-child(2) {
  margin-right: 0;
}

.contakts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__link {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secendary-color-text);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__link:hover {
  color: var(--color-button-link);
}

.contakts__link:focus {
  color: #2196f3;
}

.contakts__link:active {
  color: var(--color-button-link);
}

.contakt__icon {
  fill: currentColor;
  margin-right: 10px;
}
/*# sourceMappingURL=header.css.map */