:root {
  --primary-color-text: #212121;
  --secendary-color-text: #757575;
  --color-button-link: #2196f3;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-hover-footer-link: #ffffff;
  --color-bacground: #2f303a;
  --partfolio-btn: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  right: auto;
}
.section {
  padding: 94px 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*--------head---------*/

.header {
  border-bottom: 1px solid #ececec;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigator {
  display: flex;
}
.navigator__logo {
  display: inline-block;
  padding: 24px 0;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav__studio {
  color: var(--primary-color-text);
}
.nav__web {
  color: var(--color-button-link);
}
.navigator__item {
  margin-right: 50px;
}
.navigator__list {
  display: flex;
  align-items: center;
}
.navigator__list:last-child {
  margin-right: 0;
}
.navigator__item-link {
  position: relative;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-color-text);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigator__item-link:hover {
  color: var(--color-button-link);
}
.navigator__item-link:active {
  color: var(--color-button-link);
}
.navigator__item-link:focus {
  color: var(--color-button-link);
}
.navigator__item-link.curent {
  color: #2196f3;
}
.navigator__item-link.curent::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.navigator__item-link:focus::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.navigator__contakt-list {
  display: flex;
}
.navigator__contakt-list:nth-child(2) {
  margin-right: 0;
}
.navigator__contakt-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigator__contakt-link {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secendary-color-text);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigator__contakt-link:hover {
  color: var(--color-button-link);
}

.navigator__contakt-link:focus {
  color: #2196f3;
}

.navigator__contakt-link:active {
  color: var(--color-button-link);
}
.navigator__contakt-item-envelope {
  fill: currentColor;
  margin-right: 10px;
}
/* .navigator__contakt-item-envelope:hover {
  fill: currentColor;
  cursor: pointer;
}
.navigator__contakt-item-envelope:focus {
  fill: currentColor;
  cursor: pointer;
} */
/*--------hero---------*/

.hero {
  position: relative;
  padding: 200px 0;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  background-color: var(--color-bacground);
  text-align: center;
}

.section__titel-text {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-hover-footer-link);
}
.sectio__titel-button {
  display: inline-block;
  padding: 10px 32px;

  background: var(--color-button-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--color-hover-footer-link);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/*--------about---------*/

.section__about-list {
  display: flex;
}

.section__about-list :last-child {
  margin-right: 0;
}
.section__about-item:not(:last-child) {
  margin-right: 30px;
}
.section__about-item-head {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color-text);
}
.section__about-item-paragraf {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secendary-color-text);
}
.section__about-item-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.aboutus-img-block {
  position: relative;
}
.aboutus-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}
.aboutus-text-transkript {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*-------------aboutus-----------*/
.section__aboutus {
  padding-top: 0;
}

.section__aboutus-head {
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.section__aboutus-list {
  display: flex;
}

.section__aboutus-item {
  margin-right: 30px;
}
/*--------team---------*/
.team-section {
  background: var(--partfolio-btn);
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__team-head {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.section__team-list {
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-hover-footer-link);
  text-align: center;
}
.section__team-list:last-child {
  margin-right: 0;
}
.section__team-item {
  display: flex;
}
.section__team-img {
  width: 270px;
}
.section__team-block {
  padding: 30px 0;
}
.section__team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
}
.section__team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secendary-color-text);
  margin-bottom: 16px;
}
.action-list {
  display: flex;
  margin-top: 16px;
  margin: 0;
  padding: 0;
}
.action-item {
  margin-right: 10px;
}
.action-list {
  display: flex;
  justify-content: center;
}
.action-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.action-href {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.action-item:hover {
  fill: #ffffff;
}
.action-item:focus {
  fill: #ffffff;
}
.action-href-img {
  fill: currentColor;
}
.action-href:hover {
  background-color: #2196f3;
  color: #fff;
}
.action-href:focus {
  background-color: #2196f3;
  color: #fff;
}
/*--------footer---------*/
.footer {
  position: relative;
  padding: 60px 0;
  background-color: var(--color-bacground);
}
.footer-first-block {
  flex-grow: 1;
}
.footer__href-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__logo {
  color: var(--color-button-link);
}
.footer__studio {
  color: var(--color-hover-footer-link);
}
.footer__adress {
  font-style: normal;
}
.footer__adress-item {
  margin-bottom: 9px;
}
.footer__adress-list :last-child {
  margin-bottom: 0px;
}
.footer__adress-ite-link-ferst {
  color: var(--color-hover-footer-link);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer__adress-ite-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-footer-link);
  text-decoration: none;
}
.footer__adress-ite-link:hover {
  color: var(--color-hover-footer-link);
}
.footer__adress-ite-link:focus {
  color: var(--color-hover-footer-link);
}
.footer__adress-ite-link:active {
  color: var(--color-hover-footer-link);
}
.footer-social-nav {
  margin-left: 70px;
}
.footer-navigate {
  display: flex;
  align-items: baseline;
}
.footer-social-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
}
.footer-list :last-child {
  margin-right: 0;
}
.footer-item {
  margin-right: 10px;
}

.footer-href {
  fill: #ffffff;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-href:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.footer-href:focus {
  background-color: #2196f3;
}
.footer-form {
}
.footer-form-head {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.block-labal {
  display: flex;
}
.footer-form-input {
  position: relative;
  width: 358px;
  height: 50px;
  margin-right: 10px;

  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-bacground);
}
.footer-send {
  margin-left: 93px;
}
.footer-form-btn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding-left: 29px;
  padding-right: 29px;
  border: transparent;
}
.footer-form-img {
  margin-left: 10px;
}

/*---------client------------------*/

.client-item {
  margin-right: 30px;
}
.client-link {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-img {
  fill: currentColor;
}
.client-list:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.client-item :hover {
  border-color: #2196f3;
  color: #2196f3;
}
.client-item :focus {
  border-color: #2196f3;
  color: #2196f3;
}
.client-list {
  display: flex;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list :last-child {
  margin-right: 0;
}
.client-item :hover {
  fill: #2196f3;
}
.client-item :focus {
  fill: #2196f3;
}
.client-link:focus {
  fill: #2196f3;
}

/*--------portfoliio---------*/

/*-----------filter------------*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item {
  margin-right: 8px;
}

.filter__button {
  background: var(--partfolio-btn);
  border-radius: 4px;
  border: none;
  min-width: 73px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item:last-child {
  margin-right: 0;
}
.filter__button:hover {
  background-color: var(--color-button-link);
  color: var(--color-hover-footer-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button:focus {
  background-color: var(--color-button-link);
  color: var(--color-hover-footer-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button:active {
  background-color: var(--color-button-link);
  color: var(--color-hover-footer-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-----------cards-------------*/
.portfolio__cards-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__list-item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
  outline: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__list-item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__cards-list .portfolio__list-item:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio__cards-list .portfolio__list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.partfolio__list-block {
  padding: 20px 24px;
}
.portfolio__item-img {
  width: 370px;
}
.portfolio__header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-text);
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secendary-color-text);
}
.portfolio__list-href {
  list-style: none;
  text-decoration: none;
}
.portfolio__list-href:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__list-href:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-product {
  position: relative;
  overflow: hidden;
}
.portfolio-list-hover {
  content: " ";
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolioi-card-hover-paragraf {
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  padding: 63px 24px;
}
/* .portfolio__list-item:hover .portfolio-list-hover {
  transform: translateY(0);
} */
.portfolio__list-href:hover .portfolio-list-hover {
  transform: translateY(0);
}
.portfolio__list-href:focus .portfolio-list-hover {
  transform: translateY(0);
}

/*-----------------------overley------------------*/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 100% 100%;

  transition-property: background-color, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 40px 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}
.cklose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-27%, -29%);
  fill: #000000;
}
.cklose {
  fill: currentColor;
}
.modal-btn:hover {
  color: #2196f3;
}
.modal-btn:focus {
  color: #2196f3;
}
.input-form {
  position: relative;
}
.backdrop-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  fill: #212121;
}
.backdrop-icon:hover {
  fill: currentColor;
}
.backdrop-icon:focus {
  fill: currentColor;
}
/*----------------form-----------------------*/

.form {
}
.checkbox {
  appearance: none;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.checkbox:checked + .form-check-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(/goit-markup-hw-06/images/check-done.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.form-check-icon {
  display: block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-header {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
}
.form-filde {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.form-filde input {
  margin: 0;
  padding-left: 40px;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-filde:focus-within input {
  border-color: #2196f3;
}
.form-filde input:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
input:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}
input:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}
input:hover ~ .backdrop-icon {
  fill: #2196f3;
}
input:focus ~ .backdrop-icon {
  fill: #2196f3;
}

textarea {
  height: 120px;
  padding: 10px 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-textarea {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}
.form-label {
  position: relative;
  display: block;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form-checkbox {
  margin-bottom: 30px;
}
.form-checkbox a {
  color: #2196f3;
}
.form-label-check {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-checkbox input[type="checkbox"] {
  border-color: #212121;
  width: 16px;
  height: 15px;
  margin-left: 12px;
}
.form-label-check {
  font-family: Roboto;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.form-btn {
  padding: 10px 55px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #188ce8;
  border-radius: 4px;
  border: 1px solid #188ce8;
  margin-left: auto;
  margin-right: auto;
}
