.team__section-ather--bagraund {
  background: var(--partfolio-btn);
}

.section__title {
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__item {
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-hover-footer-link);
  text-align: center;
}
.team__item {
  &:last-child {
    margin-right: 0;
  }
}

.team__icon {
  width: 270px;
}
.team__block {
  padding: 30px 0;
}
.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
}
.team__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secendary-color-text);
  margin-bottom: 16px;
}
